/* CSS Document 
Diseño de las tablas*/
table{
border-collapse:collapse;
}
.tit{
background-color:#fff;
left:60px;
font-size:20px;
width:600px;

}

td{
font-family:"Arial";
border:#CCCCCC 2px solid;
}
label {
font-family:"Trebuchet MS";
font-size:14px;
}
a{
font-family:"Arial";
font-size:12px;

}